:root {
    --light: 300;
    --medium: 500;
    --bold: 700;
    --extra-bold: 800;
    --black-bold: 900;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --xl: 20px;
    --xxl: 22px;
    --xxxl: 24px;
    --black: #000000;
    --white: #ffffff;
    --gray1: #d9d9d9;
    --gray2: #a6a6a6;
    --gray3: #787878;
}
main
{
    display: flex;
    flex-direction: column;
}

.encabezado {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    text-align: center;
    margin-top: 48px;
}

section {
    /* border: solid 1px red; */
    display: flex;
    align-self: center;
    width: 1200px;
    justify-content: space-evenly;
    margin-top: 44px;
    position: relative;
    align-items: center;
    z-index: 0;
}

.btn
{
    width: 60px;
    height: 60px;
    position: absolute;
    z-index: 1;
    border-radius: 30px;
    border: none;
    background-color: var(--gray1);
}

.btn:active
{
    background-color: var(--gray3);
}
.btn:hover
{
    cursor: pointer;
}

.btn img
{
    padding-left: 8px;
    width: 80%;
    height: 70%;
}


.btn-l
{
    left: 10px;

}
.btn-l img
{
    transform: scaleX(-1);
}

.btn-r
{
    right: 10px;
}

.card {
    /* border: black 1px solid; */
    width: 240px;
    height: 360px;
    position: relative;
    border-radius: 16px;
    display: flex;
    justify-content: center;
}

.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
    filter: grayscale(90%);
}

.overlay
{
    font-family: 'Poppins', sans-serif;
    font-size: var(--xl);
    width: 144px;
    background-color: var(--black);
    color: var(--white);
    margin: 4px auto;      
    text-align: center;
    border-radius: 16px;
    position: absolute;
    top: 0;
    left: auto;
    right: auto;
    opacity: 83%;


}

.overlay p
{

}